<!--<p>-->
    <!--&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; dync-filter &#45;&#45;&#45;&#45;&#45;&#45;app-filter-unit-->
<!--</p>-->

<!--<div class="video-tags-box">-->


    <!--<ng-container *ngIf="filterGroup">-->

        <!--<ng-container *ngFor="let filter of filterGroup">-->
            <!--<app-filter-unit [filterName]="filter.name"-->
                             <!--[filterItems]="filter.options"-->
                             <!--(filterEmitter)="getChildPickEvent($event)"-->
                             <!--(closeEmitter)="getChildCloseEvent($event)"-->
            <!--&gt;</app-filter-unit>-->

        <!--</ng-container>-->


    <!--</ng-container>-->

<!--</div>-->


