
<!--start sorting table-->

<!--<table matSort (matSortChange)="sortData($event)">-->
    <!--<tr>-->
        <!--<th mat-sort-header="name">Dessert (100g)</th>-->
        <!--<th mat-sort-header="calories">Calories</th>-->
        <!--<th mat-sort-header="fat">Fat (g)</th>-->
        <!--<th mat-sort-header="carbs">Carbs (g)</th>-->
        <!--<th mat-sort-header="protein">Protein (g)</th>-->
    <!--</tr>-->

    <!--<tr *ngFor="let dessert of sortedData">-->
        <!--<td>{{dessert.name}}</td>-->
        <!--<td>{{dessert.calories}}</td>-->
        <!--<td>{{dessert.fat}}</td>-->
        <!--<td>{{dessert.carbs}}</td>-->
        <!--<td>{{dessert.protein}}</td>-->
    <!--</tr>-->
<!--</table>-->

<!--end sorting table-->


<!--<hr>-->

<!--<mat-paginator [length]="100"-->
               <!--[pageSize]="10"-->
               <!--[pageSizeOptions]="[5, 10, 25, 100]">-->
<!--</mat-paginator>-->


<!--<div class="video-table-list">-->

    <!--<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">-->

        <!--&lt;!&ndash;- Note that these columns can be defined in any order.-->
              <!--The actual rendered columns are set as a property on the row definition" &ndash;&gt;-->

        <!--&lt;!&ndash; Position Column &ndash;&gt;-->
        <!--<ng-container matColumnDef="position">-->
            <!--<th mat-header-cell *matHeaderCellDef> No.</th>-->
            <!--<td mat-cell *matCellDef="let element"> {{element.position}}</td>-->
        <!--</ng-container>-->

        <!--&lt;!&ndash; Name Column &ndash;&gt;-->
        <!--<ng-container matColumnDef="name">-->
            <!--<th mat-header-cell *matHeaderCellDef> Name</th>-->
            <!--<td mat-cell *matCellDef="let element"> {{element.name}}</td>-->
        <!--</ng-container>-->

        <!--&lt;!&ndash; Weight Column &ndash;&gt;-->
        <!--<ng-container matColumnDef="weight">-->
            <!--<th mat-header-cell *matHeaderCellDef> Weight</th>-->
            <!--<td mat-cell *matCellDef="let element"> {{element.weight}}</td>-->
        <!--</ng-container>-->

        <!--&lt;!&ndash; Symbol Column &ndash;&gt;-->
        <!--<ng-container matColumnDef="symbol">-->
            <!--<th mat-header-cell *matHeaderCellDef> Symbol</th>-->
            <!--<td mat-cell *matCellDef="let element"> {{element.symbol}}</td>-->
        <!--</ng-container>-->

        <!--<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
        <!--<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->
    <!--</table>-->


<!--</div>-->

