
.tag-box.is-mobile {

  ul {
    height: 61px;
    overflow: scroll;

    margin-top: 4px;
    margin-bottom: 4px;
    padding-right: 2rem;
    overflow-x: hidden;
    overflow-y: scroll;


    &::-webkit-scrollbar {
      width: 2px;
      height: 0;

    }

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    }

    &::-webkit-scrollbar-thumb {
      background-color: #607d8b;
    }




    li {

    }

    li i {
      float: right;
      font-size: 24px;
      color: black;
    }
  }

  h4 {
    color: #607d8b;
    border-top: 1px dotted #607d8b;
    border-bottom: none;
    background: none;
    font-weight: bold;
    font-size: 12px;
    margin-top: 4px;
    text-align: right;
    padding-right: 12px;
  }

}

.tag-box {

  padding-left: 12px;
  padding-right: 12px;
  min-width: 120px;

  h4 {
    border-bottom: 1px dotted #607d8b;
    font-weight: bold;
    font-size: 12px;
    margin-top: 6px;
    margin-bottom: 2px;
  }
  ul {
   // max-height: 120px;
    height:  130px;
    overflow-x: hidden;
    overflow-y: scroll;

    list-style-type: none;
    padding-left: 0;
    margin-top: 6px;
    margin-bottom: 2px;

    &::-webkit-scrollbar {
      width: 2px;
      height: 0;

    }

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    }

    &::-webkit-scrollbar-thumb {
      background-color: #607d8b;
    }



    li {

      width: 100%;
      text-decoration: none;
      //line-height: 1.3;
    }

    li > span {
      color: gray;

      font-size: 14px;
      cursor: pointer;
      line-height: 1.4;

      &:hover {
        padding-left: 2px;
      }
    }

    li > span.active {
      font-weight: bold;
      color: black;
    }

    li > i {
      color: #e81748;
      font-size: 18px;
      display: none;
      font-weight: bold;
      cursor: pointer;
    }
    li > i.active {
      display: inline-block;
      width: 20px;
      text-align: center;
    }

  }

}