<div class="tag-box"  [class.is-mobile]="checkMobile" >
    <h4>{{filterName}}</h4>
    <ul >
        <li *ngFor="let item of filterItems;   let i=index;">
            <span #ListSpans (click)="emmitPickItem(i)"> {{item | monthPipe  }} </span>
            <i #ListIs (click)="emmitCloseItem(i)" class="material-icons">close</i>
        </li>
    </ul>
</div>

