.header-wrapper-bg {
  height: 25px;

  .red-trim {
    background-color: #e81748;
    height: 13px;
  }

  .red-trim-bg {
    height: 12px;
    background-color: #e81748;


    background-image: url("/assets/image/header.png") !important;

    background-position-x: 0px;

    background-size: initial;
    background-repeat-x: repeat;
    background-repeat-y: no-repeat;

    overflow: hidden;
  }

}


.header-wrapper-bg.thin {
  display: none;
}

.new-header-container.thin {
  border-top: 6px solid #e81748;
  height: 68px;
  transition: 0.2s height;

}

.new-header-container {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  height: 112px;
  transition: 0.2s height;

  .new-logo-box.hand-set {
    padding-left: 12px;

    .new-title-box {
      display: none;
    }
  }

  .new-logo-box.thin {
    height: 65%;
    transition: 0.2s height;

    .the-bg {
      width: 57px;
    }

    .new-title-box {
      cursor: pointer;
      h2 {
        font-size: 16px;
        line-height: 0.3;
        letter-spacing: 1px;
      }

      h4 {
        font-size: 12px;
      }

    }

    .new-rfs-logo {
      margin-left: 0px;
    }

  }

  .new-logo-box {

    display: flex;
    flex-direction: row;
    padding-left: 40px;
    cursor: pointer;

    width: 40%;
    height: 100%;
    max-height: 73px;

    .the-bg {
      background-repeat: no-repeat;
      background-position: inherit;

      background-size: contain;
      background-repeat: no-repeat;

      width: 86px;
      height: 100%;
    }

    .new-nsw-logo {
      background-image: url('/assets/image/gov-logo-main.png');

    }
    .new-rfs-logo {
      background-image: url('/assets/image/rfs-logo-main.png');
      margin-left: 7px;
    }

    .new-title-box {

      h2 {
        line-height: 0.4;
        letter-spacing: 2px;
      }
      h4 {
        font-style: italic;
        font-size: 18px;
        font-weight: 200;
        line-height: 0.2;
      }

    }

  }

  .new-search-box {

    width: 50%;
    text-align: right;

    height: 100%;
    max-height: 73px;

  }

  //.new-signout-box {
  //  background: #e9e9e9;
  //  height: 100%;
  //  max-height: 73px;
  //
  //}

}

mat-grid-tile {
  //background: lightgrey;
}

.video-header {
  height: 3em;
  margin-bottom: 2em;
}



.logo-title-box {

  background: white;
  border-bottom: 2px solid lightgrey;
  box-shadow: //0 3px 1px -2px rgba(0,0,0,.2) ,
          //0 2px 2px 0 rgba(0,0,0,.14);
          0 1px 5px 0 rgba(0, 0, 0, .12);

  position: fixed;
  top: 0;
  display: block;
  z-index: 9;
  width: 100%;
  height: auto;

  mat-grid-tile {
    //background: lightgray;
  }

  .logo_image {

    display: flex;

    div {
      display: block;
      height: 78px;

    }

    .rfs-logo, .nsw-logo, .header-text {
      cursor: pointer;
    }

    .header-text {
      padding-left: 22px;

      h2, h4 {
        font-family: sans-serif;
        margin-top: 0px;
        margin-bottom: 0px;
      }

      h2 {
        margin-top: 12px;
        letter-spacing: 2px;
      }

      h4 {
        font-style: italic;
        font-size: 18px;
        font-weight: 200;
      }

    }

  }

}

.for-mobile {
  margin-top: 33px;

  img {
    height: 36px;
    &:last-child {
      margin-left: 8px;
    }
  }

  .header-text {

    padding-left: 10px !important;

    .span-rfs {
      font-size: 22px !important;
      margin-top: 0px !important;
    }

    .span-videos {
      font-size: 12px !important;
    }

  }

}

.for-other {
  width: 100%;
  text-align: left;
  padding-left: 2rem;

  img {
    height: 68px;
    &:last-child {
      margin-left: 11px;
    }
  }

}

.for-mobile2 {
  text-align: center;

}

.for-other2 {
  justify-content: left;

  h2 {
    display: block;
    width: 100%;
    font-weight: lighter;
    font-size: 24px;
  }

}

.subtitle-description {
  text-align: center;
  margin-top: -34px;
}

.router-pick {

  li {
    display: inline-block;
    margin-right: 8px;
    border: 1px solid lightsteelblue;
    padding-left: 3px;
    padding-right: 3px;
    a {
      text-decoration: none;
      font-weight: 100;
    }
  }
}
