<div class="container logo-title-box title-text">

    <div class="header-wrapper-bg" [class.thin]="scrollDown || isMobile" >
        <div class="red-trim"></div>
        <div class="red-trim-bg"></div>

    </div>

    <div class="new-header-container"  [class.thin]="scrollDown || isMobile" >
        <div class="new-logo-box"  [class.thin]="scrollDown || isMobile"   [class.hand-set]="isMobile"  >

            <div class="new-nsw-logo the-bg" (click)="getLatest()" ></div>
            <div class="new-rfs-logo the-bg" (click)="getLatest()" ></div>

            <div class="new-title-box" (click)="getLatest()">
                <h2 class="new-span-rfs">RFS</h2>
                <h4 class="new-span-videos">Videos</h4>
            </div>


        </div>

        <div class="new-search-box"  >
            <app-search-bar #searchBar
                            (emmitSearch)=passSearch($event)
                            (userLogon)=logon.emit();
                            [isMobile]="isMobile"></app-search-bar>
        </div>

    </div>


</div>