
<h4>icon-list</h4>
<mat-divider></mat-divider>
<mat-list>

  <!--<h3 mat-subheader>Folders1</h3>-->
  <mat-list-item>
    <mat-icon mat-list-icon>play_circle_filled</mat-icon>
    <h4 mat-line> title 1 </h4>
    <p mat-line> in a l the last element in a list, because it will overlap</p>
    <mat-divider [inset]="true"></mat-divider>
  </mat-list-item>

  <mat-divider></mat-divider>

  <!--<h3 mat-subheader>Folders2</h3>-->
  <mat-list-item>
    <mat-icon mat-list-icon>play_circle_filled</mat-icon>
    <h4 mat-line> title 1 </h4>
    <p mat-line> in a list without or icons. Make sure to avoid adding an inset divider to the last element in a
      list, because it will overlap</p>
    <mat-divider [inset]="true"></mat-divider>
  </mat-list-item>

  <mat-divider></mat-divider>

  <!--<h3 mat-subheader>Folders2</h3>-->
  <mat-list-item>
    <mat-icon mat-list-icon>play_circle_filled</mat-icon>
    <h4 mat-line> title 1</h4>
    <p mat-line> in a list without or icons. Make sure to avoid adding an inset divider to the last element in a
      list, because it will overlap</p>
    <mat-divider [inset]="true"></mat-divider>
  </mat-list-item>

</mat-list>
