<app-header (passSearchEmitter)=showKeyword($event)
            (latestEmitter)=latestVideos($event)
            (scrollMessage) = handleScroll($event)

            (logon) = runLogOut()

></app-header>

<app-item-filter #itemFilter

                 (orderDate)="sortByDate($event)"
                 (filterItemOnClick)="collectFilterObj($event)"
                 (closeFilterItemOnClick)="updateFilterObj($event)"></app-item-filter>

<!--<app-home-nav></app-home-nav>-->
<!--<router-outlet></router-outlet>-->

<app-video-player #videoPlayer></app-video-player>


<app-search-result #viewSearchResult
                   (pushVideo)="launchVideo($event)"
                   (popFilter) = "initFilterGroup($event)"

></app-search-result>




<!--<div style="width:100%; text-align: center;  display: block">-->
    <!--<button (click)="runLogOut()"> LOG OUT</button>-->
    <!--<span>login status -> </span> <span>{{ login.isLoggedIn}} </span>-->
    <!--<span>Authenticated status-></span> <span>{{ login.__isAuthenticated}} </span>-->
    <!--<button *ngIf="!login.isLoggedIn" (click)="runLogIn()"> LOG IN</button>-->
    <!--<button *ngIf="login.isLoggedIn" (click)="runLogOut()"> LOG OUT</button>-->
<!--</div>-->

<!--<div> version - 2500</div>-->



