
input {
  margin-right: 1em;
}

.mytest {
  background: gray;

  span {
    border: 1px solid blue;
  }
}

.video-box {

  margin-top: 3em;

  .col {

    border: 1px solid #cccccc;
    height: 12em;
  }

}
