
.fab-filter-button.enter-style {
  right: -150px;
  transition: 0.2s right;

}

.filters-box {
  margin-top: -34px;
  transition: 0.26s margin-top;

  .video-tags-box {

    height: 178px; // filter box fixed height
    display: flex;

    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin-left: 1rem;
    margin-right: 1rem;

    .app-filter-unit {
      min-width: 110px;
      max-width: 30%;

      .tag-box {

        padding-left: 1.2rem;
        padding-right: 1.2rem;

        h4 {
          border-bottom: 2px solid gray;
          font-weight: 500;
          font-size: 18px;

          margin-bottom: 2px;
        }
        ul {
          max-height: 110px;
          overflow-x: hidden;
          overflow-y: scroll;

          list-style-type: none;
          padding-left: 0;

          //&::-webkit-scrollbar {
          //  width: 3px;
          //  height: 0;
          //
          //}
          //
          //&::-webkit-scrollbar-track {
          //  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
          //}
          //
          //&::-webkit-scrollbar-thumb {
          //  background-color: darkgray;
          //}

          li {

            text-decoration: none;
            //line-height: 1.3;
          }

          li > span {
            color: gray;

            font-size: 16px;
            cursor: pointer;
            line-height: 1.6;

            &:hover {
              padding-left: 2px;
            }
          }

          li > span.active {
            font-weight: bold;
            color: black;
          }

          li > i {
            color: #e81748;
            font-size: 18px;
            display: none;
            font-weight: bold;
            cursor: pointer;
          }
          li > i.active {
            display: inline-block;
            width: 20px;
            text-align: center;
          }

        }

      }

    }
  }

  .filters-switch {
    text-align: center;
    .filter-icon-text {
      border-bottom: 1px dotted #607d8b;
      font-size: 12px;
      font-weight: 100;
      color: rgba(0, 0, 0, 0.42);
    }

    .arrow-container-bg {
      background: #fafafa;

      .loading-layer {
        position: absolute;
        background: #3e7c9030;
        z-index: 7;
        width: 100%;
        height: 100vh;

        .img-spiner {
          display: block;
          margin: 0 auto;
          margin-top: 25vh;
        }
      }
    }

    .abs-arrow-box {
      width: 79px;
      display: block;
      margin: 0 auto;
      position: relative;
    }

    .arrow-container {
      position: absolute;
      top: -1px;
      z-index: 8;
      width: 100%;
      height: 27px;
      display: block;

      &:hover {
        padding-top: 3px;
      }

      background: #607d8b;
      border-left: 1px solid #607d8b;
      border-right: 1px solid #607d8b;
      border-bottom: 1px solid #607d8b;
      border-radius: 0 0 10px 10px;
      cursor: pointer;

      .material-icons {
        font-size: 22px;
        color: white;
        font-weight: lighter;
      }
    }

  }
}

.fab-filter-button {
  position: fixed;
  right: 16px;
  top: 108px;
  z-index: 20;
  font-size: 10px;
  background-color: #607d8b;
  transition: 0.2s right;
}

.grow-height {
  margin-top: 155px;
  transition: 0.4s margin-top;
}




.mobile-view {

  position: fixed;

  //border-top: 3px solid #6c8896;
  z-index: 20;

  background: white;
  width: 324px;
  left: -430px;
  top: 110px;

  transition: 0.3s left;
  transition-timing-function: ease;

  -webkit-box-shadow: 3px 5px 5px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 3px 5px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 3px 5px 5px 0 rgba(0, 0, 0, 0.12);

  .close-mobile-panel-icon {

    position: absolute;
    right: -21px;
    top: 33px;

    span.mat-button-wrapper {
      padding: 0;
    }

    i {
      font-size: 35px;
      color: white;
      margin-top: -5px;
    }

  }

  .video-tags-box {
    display: block;
    height: auto;

    padding-top: 20px;


  }

}

.show-mobile-menu {
  left: 0;
  transition: 0.3s left;
  transition-timing-function: ease-out;
  // transition: 0.26s left;
}
