<button class="fab-filter-button" mat-fab color="primary" *ngIf="isHandSet"
        [class.enter-style]="isShowMobileMenu"

        (click)="showMobileMenu()">FILTER
</button>


<div class="filters-box" [class.grow-height]="isFilterBoxOpen && !isHandSet" [class.mobile-view]="isHandSet"
     [class.show-mobile-menu]="isShowMobileMenu">


    <div class="close-mobile-panel-icon" *ngIf="isHandSet ">
        <button mat-fab color="primary" (click)="showMobileMenu()">
            <i class="material-icons">
                close
            </i>
        </button>
    </div>


    <div class="video-tags-box">

        <ng-container *ngIf="filterGroup">
            <ng-container *ngFor="let filter of filterGroup">

                <app-filter-unit class="app-filter-unit"
                                 [checkMobile]="isHandSet"
                                 [filterName]="filter.name"
                                 [filterItems]="filter.options"
                                 (filterEmitter)="getChildPickEvent($event)"
                                 (closeEmitter)="getChildCloseEvent($event)">

                </app-filter-unit>

            </ng-container>

            <!--<div class="app-filter-unit">-->
            <!--<div class="tag-box ">-->
            <!--<h4>Sort By</h4>-->
            <!--<ul>-->
            <!--<li>-->
            <!--<span class="active"  (click)="relevanceOrder()"> relevance </span>-->
            <!--&lt;!&ndash;<i class="material-icons active">close</i>&ndash;&gt;-->
            <!--</li>-->

            <!--&lt;!&ndash;<li>&ndash;&gt;-->
            <!--&lt;!&ndash;<span class="active" (click)="uploadDateOrder()"> upload date </span>&ndash;&gt;-->
            <!--&lt;!&ndash;&lt;!&ndash;<i class="material-icons active">close</i>&ndash;&gt;&ndash;&gt;-->
            <!--&lt;!&ndash;</li>&ndash;&gt;-->
            <!--</ul>-->
            <!--</div>-->
            <!--</div>-->


        </ng-container>

    </div>

    <div class="filters-switch" *ngIf="!isHandSet">
        <div class="filter-icon-text">FILTER</div>

        <!--orginal loading layer     -->
        <div class="arrow-container-bg">

            <div class="abs-arrow-box">
                <!--matTooltip='or press " SHIFT " to open'-->
                <div class="arrow-container" (click)="openFilter()">
                    <i class="material-icons" *ngIf="!isFilterBoxOpen">keyboard_arrow_down</i>
                    <i class="material-icons" *ngIf="isFilterBoxOpen">keyboard_arrow_up</i>
                </div>
            </div>
        </div>
    </div>

</div>