
.empty-div {

  width: 298px;
  padding-left: 16px;
  padding-right: 16px;
  height: 1px;


}

.loading-mask {
  display: block;
  background: #fafafa;
  width: 100%;
  height: 100vh;

  .loading-mask-spinner {
    width: 100px;
    margin: 0 auto;
    display: block;
    padding-top: 35vh;

  }
}

.m-poster-list-container {

}

.s-poster-list-container.center-align {
  justify-content: center !important;
}

.s-poster-list-container {


  padding-left: 8vw !important;
  padding-right: 8vw !important;

  justify-content: left !important;

  .s-video-card-box {

    max-width: none !important;
    width: 40vw;
    min-width: 560px;

    .s-sub-card-box {
      margin: 0 auto;
      max-width: 800px;

      .s-video-card {
        display: flex;
        background: #e0e0e047;

        color: gray;

        span {
          display: block;
        }

        .s-the-image-box {
          width: 296px;
        }

        .s-mat-card-content {
          padding-left: 50px;
          padding-top: 20px;
        }

        .info-date {

          text-align: left;
          font-size: 14px;
        }

        span.fire-name {
          color: black;
        }

        span.file-name {
          display: block;
          font-size: 14px;
          color: gray;
          font-style: initial;

        }

      }

    }

  }

}

.poster-list-container.mobile-padding {
  padding-top: 105px;
}

.poster-list-container {

  // max-width: 2012px;
  margin: 0 auto;

  position: relative;
  background: #fafafa;
  padding-top: 4.5rem;
  padding-bottom: 3px;

  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
  align-items: center;

  justify-content: center;


  .my-loading-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -2px;
    z-index: 7;
    background: rgba(96, 125, 139, 0.24);

    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 35vh;

    .spinner-box {
      display: block;
      width: 70px;
      height: 120px;
      margin: 0 auto;

    }
  }

  .video-card-box {
    max-width: 298px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.2rem;
    margin-bottom: 1rem;

    .sub-card-box {
      // border: 1px solid gray;
    }

    .video-card {

      padding: 0;
      box-shadow: none !important;
      background: none;
      //border: 2px solid rgba(29, 98, 201, 0.12941176470588237);

      .info-vendor {
        padding-top: 2rem;
      }

      .info-date {
        color: gray;
        font-size: 12px;
        margin-top: 0;
        text-align: right;
      }

      span.fire-name {
        font-weight: bold;
        font-size: 16px;
      }

      span.file-name {
        display: block;
        font-size: 12px;
        color: gray;
        font-style: italic;

      }

      span {
        display: inline-block;
      }

      .the-image-box {
        position: relative;
        cursor: pointer;

        .video-preview {

          width: 100%;
          height: 100%;
          position: absolute;

        }

        img {
          margin: 0;
          height: 167.63px;
          width: 100%;
        }

      }

      .video-length {
        background: rgba(0, 0, 0, 0.5);
        display: initial;
        position: absolute;
        bottom: 4px;
        right: 0px;

        color: white;
        padding: 4px;
      }

    }
  }

}

.loading-layer {
  position: absolute;
  display: flex;
  background: rgba(74, 75, 76, 0.63);
  z-index: 2;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
  padding-top: 5rem;

  .spinner-image {
    width: 111px;
    height: 111px;
    display: block;
  }

}

.show-more {
  display: block;
  width: 100%;
  text-align: center;
  background: #fafafa;
  padding-bottom: 1rem;

  height: 100px;

  .spinner-box {
    display: block;
    width: 60px;
    margin: 0 auto;
    padding-top: 1rem;
  }

  .css-spiner {
    width: 70px;
  }

  p {
    display: block;
    margin: 0 auto;
    width: 90px;
    cursor: pointer;
  }

  i {
    display: block;
    width: 80px;
    margin: 0 auto;
    font-size: 60px;
    cursor: pointer;
    color: #607d8b;
  }

  .total-videos {
    width: 240px;
    margin-bottom: 33px;
    font-size: 12px;
    color: gray;
  }

  .show-more-text {
    width: 240px;
    max-width: 300px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: #6c889642;

    line-height: 2;

    &:hover {
      background: #6c88967d;
    }

  }

}

.no-more-text {

  font-size: 18px;
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 100% !important;
}




