<!--<button (click)="handleSource(6)"> TEST </button>-->
<!--<button  (click)="getFilterOptions()" > filter options</button>  <span>    </span>-->
<!--<button  (click)="testObjFilter()" >  test filter  </button>-->

<!--<button (click)="tryGetVideo2()"> try local 3001</button>-->
<!--{{testme | json}}-->
<!--<li  *ngFor="let item of testme " >-->
<!--{{item.name}} &#45;&#45; {{item.duration}}   &#45;&#45; {{item.date}}-->
<!--</li>-->






<div *ngIf="loadingMask"
     class="loading-mask">
    <div class="loading-mask-spinner">
        <mat-spinner [diameter]="100" class="spiner-icon"></mat-spinner>
    </div>

</div>

<div class="newcard-video-box"
     [ngStyle]="{'height':loadingMask == true ? '1px' : 'auto',
                 'overflow':loadingMask == true ? 'hidden' : 'initial'  }">

    <div class="mat-app-background basic-container poster-list-container"
         [class.s-poster-list-container]="isSearch"
         [class.center-align]="!twocolumn"
         [class.mobile-padding]="checkHandSet"

    >

        <div class="my-loading-layer" *ngIf="isLoading">
            <div class="spinner-box">
                <mat-spinner [diameter]="70" class="spiner-icon"></mat-spinner>
            </div>
        </div>

        <!--*ngFor="let video of videoItemList  | async ; trackBy: trackByFn; "-->



        <ng-container *ngFor="let video of videoItemList;
      trackBy: trackByFn; let f = first;
      let l = last;
      let i = index;
      let c = count;">


            <div class="video-card-box" [class.s-video-card-box]="isSearch">

                <div class="sub-card-box" [class.s-sub-card-box]="isSearch">

                    <mat-card class="video-card" [class.s-video-card]="isSearch">

                        <div class="the-image-box" (click)="launchPlayer(video)" [class.s-the-image-box]="isSearch">


                            <div class="video-preview">
                                <app-preview [videoGuid]="video.guid"></app-preview>
                            </div>


                            <span class="video-length"> {{video.duration}} </span>

                            <!--<img *ngIf="isSearch" mat-card-image-->
                            <!--src="https://ak1.picdn.net/shutterstock/videos/9613301/thumb/1.jpg"-->
                            <!--alt="search images..">-->

                            <img mat-card-image [src]=video.thumbnailUrl alt="Photo of bush fire">

                        </div>


                        <mat-card-content [class.s-mat-card-content]="isSearch">
                            <!--<span>{{i}}/{{c}}</span> - -->
                            <span class="fire-name">{{video.fireName}}</span>


                            <span class="file-name"  >{{video.fileName}}</span>
                            <span *ngIf="isSearch"> {{video.aircraftModel}}</span>
                            <span class="info-vendor" *ngIf="isSearch">{{video.vendor}}</span>

                            <p class="info-date">{{video.date}}</p>

                            <!--<p *ngIf="!isSearch" style="color: gray">{{video.guid}}</p>-->

                        </mat-card-content>
                    </mat-card>
                </div>

            </div>


        </ng-container>


        <div *ngIf="!isSearch" class="empty-div"></div>
        <div *ngIf="!isSearch"  class="empty-div"></div>
        <div *ngIf="!isSearch"  class="empty-div"></div>
        <div *ngIf="!isSearch"  class="empty-div"></div>
        <div *ngIf="!isSearch"  class="empty-div"></div>
        <div *ngIf="!isSearch"  class="empty-div"></div>
        <div *ngIf="!isSearch"  class="empty-div"></div>
        <div *ngIf="!isSearch"  class="empty-div"></div>





        <div class="show-more"  *ngIf="!afterFilter">


            <!--<i class="material-icons" *ngIf="!isShowMoreSpin" (click)="showMoreVideos()">-->
            <!--more_horiz-->
            <!--</i>-->
            <!--<p class="total-videos">total: {{originalVideosNum}} videos </p>-->

            <p class="show-more-text" *ngIf="!isShowMoreSpin && !notMoreVideo" (click)="showMoreVideos()">
               show more videos   </p>

            <div class="no-more-text" *ngIf="notMoreVideo" >
                no more videos to show ...  </div>

            <div *ngIf="isShowMoreSpin" class="spinner-box">
                <mat-spinner [diameter]="70" class="css-spiner"></mat-spinner>
            </div>
        </div>

    </div>

</div>


