<div class="search-bar" [class.search-bar-m]="detectViewPort()">

    <mat-form-field class="example-full-width">

        <span *ngIf="checkString()" (click)="resetKeyword()" class="reset-keyword">
            <i class="material-icons">close</i>   </span>


        <input
                [(ngModel)]="searchString"
                (keyup.enter)="lauchSearch()"

                matInput
                placeholder="Search Video" value="">

    </mat-form-field>


    <i class="material-icons search-btn-icon" (click)="lauchSearch()">
        search
    </i>


    <!--<button-->
    <!--(click)="lauchSearch()"   color="primary"-->
    <!--mat-stroked-button-->
    <!--style="background: #e9e9e9;   margin-left: 16px;"-->

    <!--&gt;Search-->
    <!--</button>-->

    <div class="sign-out" (click)="userLogon.emit()"  [ngStyle]="{'margin-left':  isMobile  ? '12px' : '36px' }"  >

        <span [ngStyle]="{'display':  isMobile  ? 'none' : 'block' }">Sign out</span>
        <i class="material-icons">
            exit_to_app
        </i>
    </div>


    <!--<button class="user-account"-->
    <!--matTooltip="log out"-->
    <!--(click)="userLogon.emit()"-->

    <!--&gt;-->
    <!--&lt;!&ndash;<i class="material-icons">&ndash;&gt;-->
    <!--&lt;!&ndash;settings&ndash;&gt;-->
    <!--&lt;!&ndash;</i>&ndash;&gt;-->
    <!---->
    <!--<i class="material-icons">-->
    <!--exit_to_app-->
    <!--</i>-->


    <!--</button>-->


    <!--account_circle-->


    <!--[style.display]="randomcolor"-->

    <!--<button  mat-fab color="primary" (click)="lauchSearch()"   >-->
    <!--<i class="material-icons">-->
    <!--search-->
    <!--</i>-->
    <!--</button>-->
    <!---->


</div>

