.search-bar {

  display: flex;
  align-items: center;
  justify-content: flex-end;

  .mat-form-field-infix {
    width: 200px;
  }

  .search-btn-icon {
    cursor: pointer;
    padding-left: 4px;
  }

  .reset-keyword {
    cursor: pointer;
    text-align: center;

    right: 8px;
    bottom: 2px;

    position: absolute;

    i {
      background: #f6f6f6;
      font-size: 18px;
    }

  }

  .sign-out {

    display: inline-block;
    cursor: pointer;
    width: 88px;
    margin-left: 36px;
    span {
      display: block;
      float: left;
      padding-top: 4px;
    }

    i {
      display: block;
    }

  }

}

.search-bar-m {

  border: 1px dotted red;

  mat-form-field {
    width: 50%;
    border: 1px solid blue;
  }

  input {

  }

  button {
    width: auto;
    //   border: 1px solid red;

    padding-left: 0px;
    padding-right: 0px;

    span {
      line-height: 30px;
    }

  }

}





