
body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  //border-top:1px dotted lightgrey;
}

//@import "~bootstrap/scss/bootstrap.scss";
//@import "~font-awesome/css/font-awesome.css";
//@import "~@angular/material/prebuilt-themes/indigo-pink.css";



.vg-overlay-play .vg-icon-play_arrow {
  &::before {
    color: rgba(235, 23, 82, 0.29)
  }
}

