
//.box-style {
//
//  -webkit-box-shadow: inset 0 0 17px 3px rgba(0, 0, 0, 0.45);
//  -moz-box-shadow: inset 0 0 17px 3px rgba(0, 0, 0, 0.45);
//  box-shadow: inset 0 0 17px 3px rgba(0, 0, 0, 0.45);
//}

.anim-frames-box {

  width: 50px;
  height: 50px;
  overflow: hidden;
  visibility: hidden;
  display: none
}

.preview-player:hover {

  -webkit-box-shadow: inset 0 0 17px 3px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: inset 0 0 17px 3px rgba(0, 0, 0, 0.45);
  box-shadow: inset 0 0 17px 3px rgba(0, 0, 0, 0.45);
}