<div class="preview-component">
    <!--<div class="footer-bottom" *ngIf="isshow">-->
    <!--<h3> get images...</h3>-->
    <!--<div class="checkimg" *ngFor="let item of imageSource; let i = index ">-->
    <!--<img style="display: none" (load)="afterload(i)" class="loading-img" src={{item}}>-->
    <!--</div>-->
    <!--</div>-->


    <div #preview
         class="preview-player"

         (mouseenter)="initPreview()"
         (mouseleave)="clearPreview()"


         [style.backgroundImage]="'url('+ imageFrame +')'"
         style=" background-size: contain;
         background-repeat: no-repeat;

         width: 100%;
         height: 170px;  ">
    </div>


    <!--<button (click)="loadFrames()"> load images</button>-->
    <!--<button (click)="delayTimer()"> delayer</button>-->
    <!--<button (click)="preview()"> PREVIEW</button>-->
</div>




<div class="anim-frames-box">

    <ng-container *ngFor="let item of imageSource; let i = index ">
        <img (load)="afterload(i)" class="loading-img" src={{item}}>
    </ng-container>

</div>



