
.tmp-button {
  position: fixed;
  left: 0;
  top: 190px;
  display: block;
  width: 90px;
  height: 90px;
}

.video-layer-player {
  position: fixed;
  top: 165px;
  background: lightgrey;
  width: 100vw;
  height: 100vh;
  background: rgba(19, 17, 18, 0.9);

  .player-box {
    width: 70%;
    height: 50%;
    background: black;
    margin: 0 auto;
  }

  .close-off-icon-box {
    text-align: center;
    margin-top: 2rem;
    .close-off-icon {
      font-size: 48px;
      color: rgb(187, 178, 176);
      cursor: pointer;
    }
  }
}