
<app-newcard #viewVideoCard
             (popVideoInfo)="handleVideoInfo($event)"
             (filterUpdate)="handleFilterInfo($event)"
>


</app-newcard>















<!--<app-dync-filter></app-dync-filter>-->
<!---->

<!--<div>-->
<!--<p>Is Browser: {{ platform.isBrowser }}</p>-->
<!--<p>Is Android: {{ platform.ANDROID }}</p>-->
<!--<p>Is iOS: {{ platform.IOS }}</p>-->
<!--<p>Is Firefox: {{ platform.FIREFOX }}</p>-->
<!--<p>Is Blink: {{ platform.BLINK }}</p>-->
<!--<p>Is Webkit: {{ platform.WEBKIT }}</p>-->
<!--<p>Is Trident: {{ platform.TRIDENT }}</p>-->
<!--<p>Is Edge: {{ platform.EDGE }}</p>-->
<!--</div>-->
<!--https://stackoverflow.com/questions/47528852/angular-material-sidenav-cdkscrollable?rq=1-->

