


<!--<button mat-button>Click me!</button>-->
<!--<p></p>-->

<!--<mat-checkbox>Check me!</mat-checkbox>-->




<!--to be fixed-->
<!--<mat-menu #menu="matMenu">-->
  <!--<button mat-menu-item>Item 1</button>-->
  <!--<button mat-menu-item>Item 2</button>-->
<!--</mat-menu>-->



<!--<form class="example-form">-->
  <!--<mat-form-field class="example-full-width">-->
    <!--<input matInput placeholder="Favorite food" value="shui zhu niu rou">-->
  <!--</mat-form-field>-->

  <!--<mat-form-field>-->
    <!--<textarea matInput placeholder="Textarea"></textarea>-->
  <!--</mat-form-field>-->

  <!--&lt;!&ndash;<mat-form-field>&ndash;&gt;-->
    <!--&lt;!&ndash;<mat-select placeholder="Select">&ndash;&gt;-->
      <!--&lt;!&ndash;<mat-option value="option">Option</mat-option>&ndash;&gt;-->
      <!--&lt;!&ndash;<mat-option value="option2">Option2</mat-option>&ndash;&gt;-->
    <!--&lt;!&ndash;</mat-select>&ndash;&gt;-->
  <!--&lt;!&ndash;</mat-form-field>&ndash;&gt;-->

<!--</form>-->


<!--<mat-form-field>-->
  <!--<mat-select placeholder="Favorite food">-->
    <!--<mat-option *ngFor="let food of foods" [value]="food.value">-->
      <!--{{food.viewValue}}-->
    <!--</mat-option>-->
  <!--</mat-select>-->
<!--</mat-form-field>-->
