<!--<li>-->
    <!--<span (click)="emmitPickItem(i)" class="active"> {{i}} &#45;&#45;  {{item}} </span>-->
    <!--<i (click)="emmitCloseItem(i)" class="material-icons active">close</i>-->
<!--</li>-->
