<div class="player-container" *ngIf="isPopUp"
     [class.scroll-down]="mobileView"
     [class.mobile-top-postion]="mobileView">

    <!-- new window to play <a target="_blank"  href="https://d2zihajmogu5jn.cloudfront.net/bipbop-advanced/bipbop_16x9_variant.m3u8"> PLAY LINK</a>-->


    <div class="media-player">
        <div class="player-box">
            <!--[vgHls]="'https://bitdash-a.akamaihd.net/content/sintel/hls/playlist.m3u8'"-->
            <!--red hero-->
            <!--[vgHls]="'http://www.streambox.fr/playlists/test_001/stream.m3u8'"-->
            <!--[vgHls]="'https://vs.dev.apps.rfs.nsw.gov.au/guid/entry/data.m3u8'"-->


            <vg-player class="vg-player-box" (onPlayerReady)="initHlsApi($event)">

                <vg-overlay-play></vg-overlay-play>
                <vg-buffering></vg-buffering>


                <!--<i (click)="leftTopClose()" class="material-icons left-top-close">close</i>-->

                <i   (click)="leftTopClose()"    class="material-icons left-top-close"> highlight_off </i>


                <video class="video-player" #media

                       [vgMedia]="media"
                       (onGetBitrates)="bitrates = $event"

                       [vgHls]="currentStream.source"
                       [poster]="posterURL"

                       preload="auto"
                       autoplay

                       crossorigin>
                </video>


                <vg-controls class="controls-bg">
                    <vg-play-pause></vg-play-pause>
                    <vg-scrub-bar>
                        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                        <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                    </vg-scrub-bar>


                    <!--<vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>-->

                    <vg-quality-selector class="controls-quality"
                                         *ngIf="bitrates"
                                         (onBitrateChange)="setBitrate($event)"
                                         [bitrates]="bitrates">
                    </vg-quality-selector>

                    <vg-mute></vg-mute>
                    <vg-volume></vg-volume>
                    <vg-fullscreen></vg-fullscreen>
                </vg-controls>


            </vg-player>
        </div>
    </div>
    <!-- <button (click)="runPause()">pause</button> -->


    <div class="close-off-icon-box" (click)="closeVideoArea() ">
        <i class="material-icons close-off-icon">
            highlight_off
        </i>
    </div>


    <!--<p>-->
    <!--<input style="width: 35%" [(ngModel)]="tmpGUID" type="text">-->

    <!--</p>-->

    <!--<p>-->
    <!--<button (click)="handleHtml()"> stop/info</button>-->
    <!--<button (click)="launch()"> change and play   </button>-->
    <!--</p>-->


</div>


<div class="video-layer-bg" *ngIf="isPopUp" (click)="closeVideoArea() ">
</div>


<!--<div style="position: fixed; right:0; bottom: 79px;  display: block; width: 60px; z-index: 99449" (click)="popUp()">-->
<!--#play-->
<!--</div>-->