
.mobile-top-postion {
  top: 94px !important;
  transition: 0.2s top;
}


.player-container.scroll-down {
  top: 76px !important;
  transition: 0.2s top;
}

.player-container {
  position: fixed;
  display: block;
  width: 100%;
  z-index: 110;

  top: 139px;
  transition: 0.2s top;

  .media-player:hover .controls-bg {
    //  border: 1px solid yellow;
  }

  .media-player {
    display: block;
    margin: 0 auto;
    //padding-left: 2vw;
    //padding-right: 2vw;
    background: black;

    .vg-player-box {
      overflow: visible;
    }

    .controls-quality {
      background: rgba(235, 23, 81, 0.33);
    }

    .player-box:hover .left-top-close {
      display: block;
      color: white;
    }

    .player-box:hover .controls-bg {
      display: flex;
    }

    .player-box {
      width: 100%;
      margin: 0 auto;
      max-width: 1280px;

      .controls-bg {
        background: rgba(0, 0, 0, 0.4);
        display: none;

      }

      .left-top-close {
        position: absolute;
        width: 59px;
        height: 57px;
        color: white;

        z-index: 222;
        right: 0;
        top: 0;
        font-size: 58px;

        cursor: pointer;
        display: none;

      }

    }

  }

  .close-off-icon-box {

    text-align: center;
    margin-top: 7rem;

    .close-off-icon {
      font-size: 48px;
      color: rgb(187, 178, 176);
      cursor: pointer;
    }

  }

}

.video-layer-bg {
  position: fixed;
  top: 139px;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: rgba(0, 0, 0, 0.81);

}


